   <section id="story" class="description_content">
            <div class="text-content container">
                <div class="col-md-6">
                    <h1>About us</h1>

                    <p class="desc-text"><h2><i>Welcome to Lip smacking</i></h2>
<h3><i><center>Experience great food at an affordable price. We serve Fresh healthy delicious lipsmaking food! We believe in hospitality and our team takes great pride in offering customers the best healthy food. Our menus are completely customizable and we welcome you to discuss about your interests to make your meala memorable one. We have something for everybody. Open 7 days a week for dine in and take out.</center></i></h3></p>
                </div>
               <div class="col-md-6">
                    <div class="img-section">
                       <img src="images/7.jpg" width="250" height="220">
                       <img src="images/icon.jpg" width="250" height="220">
                   </div>
                </div>
            </div>
        </section>