<div class="container">
<center>



Welcome {{globals.currentUser.userinfo.firstName}} {{globals.currentUser.userinfo.lastName}} <br>


        <button ng-click="alert('This feature is coming soon')" type="button" style="color:grey;font-family:calibri;margin-left:0%;margin-right:0%;font-size:200%;display:inline;margin-top:5%;margin-bottom:0%; height:200px;width:200px">
TakeAway</button>

        <a href="#/table"><button type="button" style="color:grey;font-family:calibri;margin-left:0%;margin-right:0%;font-size:200%;display:inline;margin-top:5%;margin-bottom:0%; height:200px;width:200px">
Dine In</button></a>

</center>	
<div>